:root{
    --primario: #fff8d3; 
    --rojo: #d53939; 
}
.cabecera--principal{
    background-color: var(--primario);
    box-shadow: 2px 6px 9px rgb(0 0 0 / 10%);
    border-bottom: 3px solid var(--rojo);
    position: relative;
    z-index: 9;
    margin-bottom: 30px;
}
.cabecera--principal > div{
   flex-direction: column;
}
.logo--rapi{
    height: 75px;
}
nav .navbar-brand{
    margin: 0px;
    padding: 0px;
}
#navbarNav ul li a,
.btn--loguin{
    color: var(--rojo);
    font-weight: bold;
}
.contenedor--enlaces-cabecera{
    position: absolute;
    width: 100%;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 15px;
    z-index: 0;
}

.contenedor--enlaces-cabecera button{
    background-color: transparent;
}

.btn--loguin{
    background-color: var(--rojo) !important;
    border: 1px solid var(--rojo);
    color: #fff;
    transition: .4s ease all;
}
#__next > div > nav > div > div.d-flex.justify-content-between.contenedor--enlaces-cabecera > button:nth-child(2){
    border: none;
}
.btn--loguin:hover{
    background-color: #fff !important;
    border: 1px solid var(--rojo);
    color: var(--rojo);
}
#navbarNav{
    position: relative;
    z-index: 2;
}

body > div.offcanvas.offcanvas-end.show > div.offcanvas-body > div{
    overflow: hidden;
}
#navbarNav > ul > li{
    width: 120px;
}
#navbarNav > ul{
    margin-top: 15px;
    margin-bottom: 10px;
}
#navbarNav > ul > li:first-child{
    text-align: right;
}
#navbarNav > ul > li:first-child{
    border-right: 1px solid var(--rojo);
}
#navbarNav > ul > li:last-child{
    border-left: 1px solid var(--rojo);
}
#navbarNav > ul > li a{
    padding: 0px 13px;
}

.offcanvas-backdrop.show{
    opacity: .7 !important;
    background-color: #131313 !important;
}



.contenedor-catalogo{
    display: grid;
    /* width: 100%; */
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 17rem), 1fr));
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 20px;
}

.btn--agregar-carrito,
.btn_loguin{
    background-color: var(--rojo) !important;
    border: 1px solid var(--rojo);
    color: #fff;
    transition: .4s ease all;
}

.btn_loguin{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    text-align: center;

}
.btn--agregar-carrito:hover,
.btn_loguin:hover{
    background-color: #fff !important;
    border: 1px solid var(--rojo);
    color: var(--rojo);
}

#__next > div > nav > div > a{
    position: relative;
    z-index: 3;
}

.cont-img{
    overflow: hidden;
}
.cont-img img{
    transition: .5s ease all;
}
.contenedor-catalogo > div:hover .cont-img img{
    transform: scale(1.1);
}
.contenedor-catalogo > div{
    border-radius: 12px;
    overflow: hidden;
}


.sidebar--admin{
    background-color: transparent;
    border-right: 2px solid #757575;
}

.sidebar--admin li a{
    color: #757575
}
.btn--admin{
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    transition: .4s ease all;
}
.btn--admin:hover{
    background-color: #d2d2d2 !important;
}
.carrito-btn-borrar{
    border: none;
    background-color: transparent;
}
.carrito-btn-borrar:hover{
    background-color: rgb(169, 169, 169) !important;
}
.cont-login > div{
    border: 1px solid #f8f8f8;
    box-shadow: 6px 8px 19px 4px #9a9a9a6b;
    border-radius: 20px;
    padding: 40px 30px;
}
.cont--registrate{
    max-width: 630px;
    margin: auto;
}

.form-control:focus{
    border-color: #d5393987;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #d539393f;
}
.d--recepcion-col{
    display: flex !important;
    flex-direction: row;
    gap: 25px;
    margin-top: 25px;
}
.d--recepcion-col > div,
.d--recepcion-col > form{
    width: 50%;
}
#__next > div > div > div > div > div.d-flex.flex-column > div > div > div,
.d--recepcion-col > form > h3{
    padding-bottom: 10px;
    border-bottom: 1px solid #a8a8a8;
    height: 50px;
}

.btn--loguin-invert{
    background-color: #fff !important;
    border: 1px solid var(--rojo);
    color: var(--rojo);
    transition: .4s ease all;
}
.btn--loguin-invert svg{
    width: 0px;
    overflow: hidden;
    transition: .3s ease all;
}
.btn--loguin-invert:hover{
    background-color: var(--rojo) !important;
    border: 1px solid var(--rojo);
    color: #fff !important;
}
.btn--loguin-invert:hover svg{
    width: 22px !important;
}

body .form-check-input:checked{
    background-color: var(--rojo);
    border-color: var(--rojo);
}
body .form-check-input:focus,
body .form-control:focus{
    border-color: #d5393942;
    outline: 0;
    box-shadow: 0 0 0 0.10rem rgb(213 57 57 / 15%);
}
.seccion--edit-profile > form{
    width: 100%;
    max-width: 630px;
    margin: auto;
}
.btn-controladores,
.btn-controladores:hover{
    background-color: transparent;
    border-color: transparent;
    color: var(--rojo);
}

.enlaces-main{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.enlaces-main a{
    text-decoration: none;
    border-radius: 10px;
    padding: 3px 18px;
}
.pollo-home{
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}